
.nav-link.active {
  
}

.logout-button {
  display: none;
}

.avatar-dropdown {
  display: block;
}

@media (max-width: 992px) {
  .avatar-dropdown {
    display: none;
  }

  .logout-button {
    display: block;
  }
}

.nav-link {
 // color: white;
}
